/* File created 10/14/2019 by Leah Gillespie */
/* CSS for subheader */

h1 {
    text-align: center;
    font-size: 75px;
    animation-name: subAnimation;
    animation-duration: 2s;
    text-decoration: underline;
    color: $primary_scarlet;
    margin: 25% 0px;
}