// Created 10/12/2019 by Neel Mansukhani
// Edited 10/14/2019 by Neel Mansukhani: Rearranged css and added shadow

/* Partial css for container of person's information. */

.person-container {
    $width: 500px;
    $height: 200px;
    box-shadow: $shadow;
    div.picture {
        display: table-cell;
        width: $height;
        height: $height;
        img {
            padding: 25px 10px 0 0;
            width: 150px;
            height: 150px;
        }
    }
    div.text-container {
        padding: 25px 0 0 0;
        display: table-cell;
        vertical-align: top;
        width: ($width - $height);
        height: $height;
        text-align: left;
        .name {
            font-size: 24px;
        }
    }
    width: $width;
    height: $height;
    display: inline-block;
    border-radius: 25px;
    background-color: #8F1001;
    margin: 0px 25px 10px 0px;
}