//File created 10/13/2019 by Leah Gillespie
//File edited 10/14/2019 by Leah Gillespie

.appt_pg h1 {
  text-align: center;
}

.appt_pg .blurb p {
  text-align: center;
  width: 50%;
  padding: 0px 25% 20px;
}

.appt_pg h3 {
  text-align: left;
  padding: 0px 0px 5px;
  width: 50%;
}

.appt_pg .teaching p {
  text-align: left;
  padding: 5px;
  width: 50%;
  float: left;
}

.sylb {
  border: 10px solid #8F1001;
  width: 25%;
  float: right;
  margin: 20px 10%;
}

.sylb h3 {
  text-align: center;
  width: 100%
}