.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: auto;
    grid-gap: 30px;
}

/*Intended for title of the section (radio, print, etc)*/
h2.section-name {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    text-decoration-line: underline;
}

section.article-src {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}

article.media-press-item {
    font-size: 18px;
    font-weight: bold;
}

a.media-press-link{
    font-size: 10px;
    font-weight: normal;
}




