// File Created 10/10/2019 by David Wing
// Edited 10/11/2019 by David Wing
// Edited 10/12/2019 by David Wing
// Edited 10/13/2019 by David Wing
// Edited 10/14/2019 by Neel Mansukhani: Rearranged css and moved animations to site partial.

@import 'partials/site';


  body{
    height:100%;
    min-height:100%;
    padding-bottom: 200px;
  }

.about-me{
  .left {
  width: 20%;
  height: 100%;
  float: left;
  background-color: #8F1001;
  padding-bottom: 200px;

  }

  .middle {
    width: 60%;
    height: 100%;
    float: left;
    margin-bottom: 200px;
  }

  .right {
  width: 20%;
  height: 100%;
  position: relative;
  float: right;
  background-color: #8F1001;
  padding-bottom: 30%;

  }


  .cf {
    position:relative;
    height:400px;
    margin-left:10%;
    margin-right:10%;
    animation-name: imageAnimation;
    animation-duration: 2s;
  }

  .cf img {
    position:absolute;
    left:0;
    transition: opacity 3s ease-in-out;
  }

  .cf img.top:hover {
    opacity:0;
  }


  .side-image{
  animation-name: imageAnimation;
  animation-duration: 2s;
  }


  h1{
    font-size: 100px;  
    opacity: 1;
    text-align: center;
    animation-name: subAnimation; 
    animation-duration: 2s;
  }

  h2{
    font-size: 50px;  
    opacity: 1;
    text-align: center;

    animation-name: subAnimation;
    animation-duration: 2s;
    animation-delay: .2s;
  }

  h3{
    text-align: center;

    animation-name:subAnimation;
    animation-duration: 2s;
    animation-delay: .2s;
  }
  h4{
    opacity:0;
  }

  // Animation with speed for images.
  @keyframes imageAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    animation-name: subAnimation;
    animation-duration: 2s;
    animation-delay: .3s; 
    animation-fill-mode: both;
    }
  }

  // Animation with speed for subtitles
  @keyframes subAnimation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


}