/* File created 10/11/2019 by Sharon Qiu */
/* Edited 10/14/2019 by Neel Mansukhani: Rearranged css */

/* CSS for media and press page items. */
@import 'partials/site';
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: auto;
    grid-gap: 1%;
    margin: 0% 10% 10% 10%;
}

//Page header
h1 {
    text-align: center;
}

//Intended for title of the section (radio, print, etc)
h2.section-name {
    font-size: 50px;
    text-align: left;
    margin-left: 10%;
    font-style: italic;
    font-weight: bold;
    text-decoration-line: underline;
    animation: 2s fadein;
}

//Source of article
h3.article-src {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: $primary_white;
    visibility: hidden;
    animation: fadein 2s 1s;
    animation-fill-mode: forwards;
}

//delayed entry
div.media-press-item {
    font-size: 18px;
    color: $primary_scarlet;
    visibility: hidden;
    font-weight: bold;
    animation: fadein 2s 2s;
    animation-fill-mode: forwards;
}

//links for media and press
a.media-press-link {
    padding: 0px;
    margin: 15px;
}

//links for media and press
hr {
    margin:10%;
}

//fadein effect for elements
@keyframes fadein {
    from {
        opacity: 0;
    }to {
        visibility: visible;
        opacity: 1;
    }
}