/* File Created 10/14/2019 by Neel Mansukhani */
/* Edited 10/15/2019 by Neel Mansukhani: Redid noteworthy */

/* CSS for noteworthy page */
@import 'partials/site';
@import 'partials/noteworthy_items';
div.top, div.bottom {
    display: inline-block;
    color: $primary_white;
}
div.top {
    width: 1230px;
    text-align: left; 
    div.headline-container {
        display: inline-block;
        vertical-align: top;
    }
    div.sub-headline-container {
        display: inline-block;
    }
}
div.bottom {
    width: 1240px;
    $col-width: 410px;
    .one, .two, .three {
        vertical-align: top;
        width: $col-width;
        display: inline-block;
    }
}
div.text-container {
    padding: 10px;
}