body {
    margin: 0;
    padding: 100px 0;
    background-color: white;
    font-family: Poppins;
    font-weight: bold;
    div.person-container {
        $width: 500px;
        $height: 200px;
        div.picture {
            display: table-cell;
            width: $height;
            height: $height;
            img {
                padding: 25px 10px 0 0;
                width: 150px;
                height: 150px;
            }
        }
        div.text-container {
            padding: 25px 0 0 0;
            display: table-cell;
            vertical-align: top;
            width: ($width - $height);
            height: $height;
            text-align: left;
        }
        width: $width;
        height: $height;
        display: inline-block;
        border-radius: 25px;
        background-color: green;
        margin: 0px 25px 10px 0px;
    }
    div.navbar {
        ul {
            position: fixed;
            top: 0;
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: inline-block;
            color: white;
            text-align: center;
            vertical-align: text-bottom;
            padding: 30px 16px;
            text-decoration: none;
        }
        
        li a:hover:not(.active) {
            background-color: #111;
        }
        
        .active {
            background-color: #4CAF50;
        }
    }

    #page-layout{
        position: relative;
        min-height: 100vh;
      }
      
      #content-layout {
        padding-bottom: 0px;    /* Footer height */
      }
      
      
      #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 10px;
        height: 0px;   
      }
      .footer_info{
        position:relative;
          width:auto;
          height:130px;
          background-color:rgb(206,15,61) ;
          overflow: auto;
          overflow-y: hidden;
          display: flex;
          color: rgb(176,183,188);
       }
      
      .footer h3{
        text-align: center;
      }
       .osu_info,  .contact_info{
         text-align: center;
          font-size: 13px;
          line-height: 2px;
          float: left;
          top:10px;
         position:relative;
          left: 345px;
       }
       
       .contact_info{
          float: left;
          text-align: center;
          margin-left:0px;
          left: 555px;
       }
       
       .osu_info_detail{
        text-align: left;
        float: left;
        margin-left: 20px;
       }
       
       .left_contact{
       text-align: left;
        float: left;
        margin-right: 25px;
        }
        
        .right_contact{
        text-align: left;
          float: right;
        }
        
        .osu_img{
        
          width:110px;
          height:110px;
          top: 10px;/* Position element */
          left: 10px; /* Position element */ 
          bottom: 10px;
          position: absolute;
          }  
    
}