// File Created 10/11/2019 by Neel Mansukhani
// File Edited 10/13/2019 by Neel Mansukhani: Added tabs
// Edited 10/14/2019 by Neel Mansukhani: Rearranged css

/* CSS for people page */
@import 'partials/site';
@import 'partials/people_container';
.buttons {
    padding: 0 0 47px 40px;
    .tablink {
        background-color: #333;
        font-family: Garamond;
        font-weight: bold;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
    }
    #selected {background-color: #8F1001;}
}    
  
  .tablink:hover {
    background-color: #111;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    margin: 0 40px;
    width: 90%;  
    border-color: #8F1001;;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 100px 20px;
    height: 100%;

  }
