body {
    margin: 0;
    padding: 100px 0;
    background-color: white;
    font-family: Poppins;
    font-weight: bold;
    div.person-container {
        $width: 500px;
        $height: 200px;
        div.picture {
            display: table-cell;
            width: $height;
            height: $height;
            img {
                padding: 25px 10px 0 0;
                width: 150px;
                height: 150px;
            }
        }
        div.text-container {
            padding: 25px 0 0 0;
            display: table-cell;
            vertical-align: top;
            width: ($width - $height);
            height: $height;
            text-align: left;
        }
        width: $width;
        height: $height;
        display: inline-block;
        border-radius: 25px;
        background-color: green;
        margin: 0px 25px 10px 0px;
    }
    div.navbar {
        ul {
            position: fixed;
            top: 0;
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: inline-block;
            color: white;
            text-align: center;
            vertical-align: text-bottom;
            padding: 30px 16px;
            text-decoration: none;
        }
        
        li a:hover:not(.active) {
            background-color: #111;
        }
        
        .active {
            background-color: #4CAF50;
        }
    }
}