/* File created 10/12/2019 by Sri Ramya Dandu */
/* Edited 10/10/2019 by Sri Ramya Dandu: Cleaned up css */
/* Edited 10/11/2019 by Sri Ramya Dandu: Modified CSS to make it look nicer*/
/* Edited 10/13/2019 by Sri Ramya Dandu: Changed the links to CSS */
/* Edited 10/14/2019 by Sri Ramya Dandu: Added research */
/* Edited 10/14/2019 by Sri Ramya Dandu: Changed colors to variables */
/* Edited 10/15/2019 by Sri Ramya Dandu: Changed format of research and resizing */
/* Edited 10/15/2019 by Neel Mansukhani: Set overflow to auto */
/* CSS for Publications Page */

/* Created 10/10/2019 by Sri Ramya Dandu */
/* CSS for Publication Page */
@import 'partials/site';

.publications-page .title, h2{
  color: $primary_scarlet ;
  font-size: 80px;
  text-align: center;
  position: relative;
  margin-bottom:0;
}
  
.publications-page h2 {
  font-size: 20px;
  color: $primary_gray;
  margin-top:0 ;
}

section{
  position: relative;
  overflow-y: scroll;
  width:50%;
  margin-left:25%;
  border-bottom: double;
  border-top: double;
  border-color: $primary_scarlet;
}
section {
  overflow-y: auto;
}
.research-card:first-child{
  width:50%;
  float:left;
}
.research-card:nth-child(2){
  width:50%;
  float:left;
}
.research-card h2{
  font-size: 15px;
  padding: 10px;
  color: $primary_scarlet;
}

.research-card p{
  font-size: 15px;
  padding: 20px;
  margin: 0;
  height: 130px;
  color:$primary_gray;
  text-align: left;
  position:relative;
}

/* set up of vertical line */
.publications-page .timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  /* Stops at the last date */
  height: 99%;
  box-shadow:6px 6px 15px 0 rgba(0, 0, 0, 0.2);
  background: $primary_scarlet;

}
  
.publications-page .timeline {
    /* distance of boxes from timeline */
  width: 60%;
  /* start postion in the screen */
  margin: 70px auto;
  position: relative;
  
  article:after {
    content: '';
    display: block;
    clear: both;
  }

  /* each independent publication formatting */
  article {
      width: 100%;
      margin: 0 0 80px 0;
      position: relative;
        
            
      div.left,div.right {
        width: 40%;
        float: left;
        margin: 5px 0 0 0;
        border-radius: 6px;
      }

      div.right {
        float: right;
      }
          
      /* designs the appearance of the date */
      div.date {  
        /* creates circle */
        width: 60px;
        height: 50px;
        padding: 5px 0;
        position: absolute;
        left: 50%;
        margin: 0 0 0 -32px;
        border-radius: 100%;
        background: $background_gray;
        color:$primary_scarlet;
        border: 2px solid $background_gray;
        box-shadow: 0 0 0 6px  $primary_scarlet, 6px 6px 15px 0 rgba(0, 0, 0, 0.2), 6px 6px 15px 0 rgba(0, 0, 0, 0.19);
        font-weight: bold;
        text-align: center;
            
      span.month {
        font-size: 19px;
      }

      span.year {
        font-size: 15px;
      }

      span.only_year {
        font-size: 20px;
      }
    }

    .publication-card {
      border-radius: 6px;
      box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.2), 6px 6px 21px 0 rgba(0, 0, 0, 0.19);
    }
    .publication-card h2{
      font-size: 15px;
      padding: 10px;
      color:$primary_white;
      background-color: $primary_scarlet;
      border-radius: 6px 6px 0 0;
    }

    /* triangles for the cards */
      div.left h2::after{
      content: " ";
      position: absolute;
      top: 20px;
      right: -10px;
      border: solid;
      border-width: 8px 2px 8px 8px;
      border-color: transparent transparent transparent $primary_scarlet;
    }

      div.right h2::after{
      content: " ";
      position: absolute;
      top: 20px;
      left: -10px;
      border: solid;
      border-width: 8px 8px 8px 2px;
      border-color: transparent $primary_scarlet transparent transparent;
    }

    .publication-card p{
      font-size: 15px;
      padding: 20px;
      margin: 0;
      color: $primary_gray;
      background-color: $primary_white;
      border-radius: 0 0 6px 6px;
      border:solid;
      border-color: $primary_scarlet;
      text-align: left;
      position:relative;
    }

    .button {
      float: right;
      font-family: Garamond;
      font-size: 13px;
      padding: 3px;
      border-radius: 15px;
      text-align: center;
      color:$primary_gray;
      box-shadow: 0 0 0 2px  $primary_scarlet;
    }

    .button:hover {background-color: $background_gray}

    .button:active {
      background-color: #666666;
    }  
  }
}
