// Created 10/10/2019 by Middleman
/* Edited 10/12/2019 by Sri Ramya Dandu: add the partials */
/* Main CSS for the website */
body {
  background-color: rgb(176,183,188);
  font-family: Garamond;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 100px 0;
  font-weight: bold;
  height: 100%;

}

a {
  color: rgba(#000, 0.7);

    font:"garamond";
    padding: 18vh 1rem;
    text-align: center;
    height: 100%;
}
  
@import 'people';
@import 'media_and_press';
@import 'page_navbar';
@import 'publications';
@import 'page_footer';
@import 'about_me';
