body {
  background-color: #666666;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
  height: 100%;
}


.leftpane {
  width: 15%;
  height: 100%;
  float: left;
  background-color: #BB0000;
  border-collapse: collapse;
}

.middlepane {
  width: 70%;
  height: 100%;
  float: left;
  border-collapse: collapse;
}

.rightpane {
width: 15%;
height: 100%;
position: relative;
float: right;
background-color: #BB0000;
border-collapse: collapse;
}


#cf {
  position:relative;
  height:200px;
  left:35%;
  margin:auto;
}

#cf img {
    position:absolute;
    left:0;
    transition: opacity 3s ease-in-out;
}

#cf img.top:hover {
    opacity:0;
}
  

h1{
    font-size: 100px;  
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
    opacity: 1;
    animation-name: titleAnimation;
    animation-duration: 2s;
  }
  
h2{
  font-size: 50px;  
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
  opacity: 1;
  animation-name: subAnimation;
  animation-duration: 2s;
  animation-delay: .3s; 
  animation-fill-mode: both;
  
}
  
@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
}
  
@keyframes subAnimation {
      0% {
        transform: translateY(-50px);
        opacity: 0;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
  }