<%# File Created 10/12/2019 by Sri Ramya Dandu %>

<%# Partial for footer %>

<footer id = "footer">
    <div class = "footer_info">
    
        <img src="../images/osu_logo.jpg" alt="OSU" class = "osu_img">
        
        <div class= "osu_info" >
            <h3> The Ohio State University </h3>
            
            <div class= "osu_info_detail">
            <h4> <a href = "http://www.cse.ohio-state.edu">Dept. of Computer Science and Engineering</a> </h4>
            <h4> 491 Dreese Laboratories, 2015 Neil Avenue </h4>
            <h4> Columbus, OH 43210</h4>
            </div>
        </div>
            
            
        <div class= "contact_info"> 
            <h3> Contact Info </h3>
                
            <div class = "left_contact"> 
                <h4> <a href="mailto:jwdavis@cse.ohio-state.edu">jwdavis@cse.ohio-state.edu</a> </h4>
                <h4> Office: 614-292-1553 </h4>
                <h4>  <a href = "https://web.cse.ohio-state.edu/~davis.1719/directions.html">Directions to my office</a> </h4>
            </div>
            
            <div class = "right_contact"> 
                <h4> Lab: 614-292-5137  </h4>
                <h4> Fax: 614-292-2911</h4>
           </div>
        </div>
    </div>
</footer>
    