---
title: Teaching Appointments
---
<%# File created 10/11/2019 by Leah Gillespie
    Edited 10/12/2019 by Neel Mansukhani: Added page title and navbar
    Edited 10/13/2019 by Leah Gillespie
%>

<%# HTML format for appointments and teaching page. %>
<%  current_page.data.title="Appointments"
    current_page.data.stylesheet = "appointments"
%>

<div class="appt_pg">
    <h1>Teaching Appointments</h1>
    <h2>Current Appointments</h2>
        <p>Full Professor in the Department of Computer Science and Engineering at The Ohio State University</p>
        <p>Coordinator of Undergraduate Research in the Department of Computer Science and Engineering at The Ohio State University</p>
        <p>Chair of the Computer and Space Committee in the Department of Computer Science and Engineering at The Ohio State University</p>
        <p>Member of the Executive Committee in the Department of Computer Science and Engineering at The Ohio State University</p>
    <h2>Past Appointments</h2>
      <p>Associate Professor in the Department of Computer Science and Engineering at The Ohio State University (2005-2013)</p>
      <p>Assistant Professor in the Department of Computer Science and Engineering at The Ohio State University (2000-2005)</p>
    <h2>Teaching</h2>
  <div class="blurb">
    <p>Professor Davis offers classes in Computer Vision (CSE 5524) and Artificial Intelligence for Non-Majors (CSE 5052). The Artificial Intelligence class was specifically designed to fill a need and outreach to the large body of non-CSE students interested in the topic.</p>
  </div>
    <div class="teaching">
      <h3>Course Offerings</h3>
      <div class="sylb">
        <h3>Course Syllabuses</h3>
        <h3><a href="http://web.cse.ohio-state.edu/~davis.1719/Teaching/5524/syllabus2019.htm">CSE 5524 - AU19</a></h3>
        <h3><a href="http://web.cse.ohio-state.edu/~davis.1719/Teaching/5052/syllabus2019.htm">CSE 5052 - SP20</a></h3>
      </div>
      <div class = "offerings">
      <h3>Autumn 2016 - Spring 2020</h3>
      <p>Autumn: CSE 5524 Computer Vision</p>
      <p>Spring: CSE 5052 Artificial Intelligence for Non-Majors</p>
    <h3>Autumn 2012 - Spring 2015</h3>
      <p>Autumn: CSE 5524 Computer Vision for Human-Computer Interaction</p>
      <p>Spring: CSE 5052 Intro to Artificial Intelligence for Non-Majors</p>
    <h3>Autumn 2011 - Spring 2012</h3>
      <p>Autumn: CSE 634 Computer Vision for Human-Computer Interaction</p>
      <p>Winter: CSE 788 Computer Vision Seminar</p>
    <h3>Autumn 2010 - Spring 2011</h3>
      <p>Autumn: CSE 634 Computer Vision for Human-Computer Interaction</p>
      <p>Winter: CSE 630 Artificial Intelligence</p>
        <div class="image">
          <img src="../images/award.jpg">
        </div>
    <h3>Autumn 2009 - Spring 2010</h3>
      <p>Autumn: CSE 634 Computer Vision for Human-Computer Interaction</p>
      <p>Winter: CSE 788 Computer Vision Seminar</p>
    <h3>Autumn 2008 - Spring 2009</h3>
      <p>Autumn: CSE 634 Computer Vision for Human-Computer Interaction</p>
      <p>Winter: CSE 630 Artificial Intelligence</p>
    <h3>Autumn 2006 - Spring 2007</h3>
      <p>Autumn: CSE 634 Computer Vision for Human-Computer Interaction</p>
      <p>Winter: CSE 630 Artificial Intelligence</p>
    <h3>Autumn 2005 - Spring 2006</h3>
      <p>Autumn: CSE 634 Computer Vision for Human-Computer Interaction</p>
      <p>Winter: CSE 630 Artificial Intelligence</p>
      <p>Winter: CSE 788 Seminar on Advanced Video Surveillance</p>
    <h3>Autumn 2004 - Spring 2005</h3>
      <p>Autumn: CSE 694I Introduction to Computer Vision</p>
      <p>Winter: CSE 630 Artificial Intelligence</p>
        <div class="image">
          <img src="../images/presenting.jpg">
        </div>
    <h3>Autumn 2003 - Spring 2004</h3>
      <p>Autumn: CIS 694I Computer Vision for Human-Computer Interaction</p>
      <p>Winter: CIS 630 Artificial Intelligence</p>
      <p>Winter: CIS 788 Seminar on Advanced Video Surveillance</p>
    <h3>Autumn 2002 - Spring 2003</h3>
      <p>Autumn and Spring: CIS 630 Artificial Intelligence</p>
      <p>Winter: CIS 694I Computer Vision for Human-Computer Interaction</p>
    <h3>Autumn 2001 - Spring 2002</h3>
      <p>Autumn: CIS 788.04Z Computer Vision for Human-Computer Interaction</p>
      <p>Spring: CIS 630 Artificial Intelligence</p>
    <h3>Autumn 2000 - Spring 2001</h3>
      <p>Autumn: CIS 788.04Y Motion Understanding</p>
      <p>Spring: CIS 630 Artificial Intelligence</p>
      <p>Spring: CIS 731 Knowledge Systems</p>
      </div>
  </div>
</div>