<%# File created 10/15/2019 by Sri Ramya Dandu %>
<%# HTML format for directions page. %>

<% current_page.data.title = "Directions"
current_page.data.stylesheet = "directions"
%>

<div class = "directions">

    <h1>Directions to My Office</h1>
    <p>
    Finding your way to The Ohio State University is easy. 
    It is in the center of Columbus, slightly north of downtown. 
    </p>

    <br/>


    <dl>
        <dt> From the north:</dt>
        <dd> Take any major highway to I-270. Take I-270 to SR 315 south. From SR 315 south, exit at Lane Avenue. </dd>
    
        <dt> From the south:</dt>
        <dd> Take any major highway to I-71 north. Take I-71 north to SR 315 north. Exit at Lane Avenue.</dd>
   
        <dt> From the west:</dt>
        <dd> Take any major highway to I-70 east. Take I-70 east to SR 315 north. Exit at Lane Avenue.</dd>
    
        <dt>From the east:</dt>
        <dd> Take any major highway to I-70 west. Take I-70 west to SR 315 north. Exit at Lane Avenue.</dd>
    </dl>

    <div class ="airport-directions">
        <br/>
        <h3> From Port Columbus International Airport:</h3>

        <ol>
            <li> Take I-670 West to I-71 South </li>
            <li> Take I-71 South to I-70 West </li>
            <li> Take I-70 West to SR 315 North </li>
            <li> Exit at Lane Avenue </li>
            <li> Take Lane Avenue (going east into OSU) over the bridge until you reach Tuttle Park Place road </li>
            <li> Take a right onto Tuttle Park Place road and continue down (shortly) through the big 4-way intersection 
            (intersecting with Woody Hayes Dr.) </li>
            <li> Shortly after the intersection you will see a large parking garage on your left (with an immediate entrance into the garage from the road). The OSU Stadium will be directly on your right </li>
            <li> Enter this garage and take the ticket to park your car (we will give you a pass later to exit the garage at no charge) </li>
        </ol>
    </div>
    <br/>
    <div class = "end-note">
        <h3> Where is Dreese?</h3>
        <p>
            I am located in office 491 Dreese Labs, directly adjacent (behind) to the parking garage. <br/>
            It is the tallest red brick building in the immediate area. <br/>It also has a characteristic white "spool" on the very top of the building.
            <br/>
            <br/>
            Dreese Labs (building 279) and the parking garage (building 088) are shown on this helpful <a href="http://www.osu.edu/map/building.php?building=279">map</a>.
        </p>
        
    </div>
</div>
