<%# File Created 10/11/2019 by Neel Mansukhani
    Edited 10/12/2019 by Neel Mansukhani
    Edited 10/13/2019 by Neel Mansukhani: now only has alumni
%>

<%# HTML format for people page. %>
<%
require 'json'
html_dir = File.dirname(__FILE__)
fjson = JSON.parse File.read "#{html_dir}/../data/student_data.json"
alumni = fjson['alumni']
current_page.data.title = "People"
%>
<form class="buttons">
    <button type="submit" class="tablink" formaction="current_students.html">Current Students</button>
    <button type="submit" class="tablink" formaction="alumni.html">Alumni</button>
</form>
<div class="tabcontent">
    <% alumni.each_key do |name| %>
        <%= partial "../partials/person",
                    :locals => {:name => name,
                                :description => alumni[name]['description'],
                                :title => alumni[name]['title'],
                                :current_job => alumni[name]['current_job']} %>
    <% end %>
</div>
