<%# File Created 10/15/2019 by Neel Mansukhani %>

<%# Partial for default noteworthy container %>
<div class="default image-animation shadow">
    <div class="text-container">
        <div class="description"><%= description %></div>
        <span class="date"><%= date %></span>
    </div>
</div>