<%# File Created 10/14/2019 by Neel Mansukhani %>

<%# Partial for headlines %>
<div class="headline image-animation shadow">
        <div class="picture">
            <img src="<%= img %>" alt="headline image"/>
        </div>
        <div class="text-container">
            <div class="description"><%= description %></div>
            <span class="date"><%= date %></span>
        </div>
</div>