<%# File Created 10/15/2019 by Neel Mansukhani %>

<%# Partial for sub headlines %>
<div class="sub-headline image-animation shadow">
        <div class="picture">
            <img src="<%= img %>" alt="sub-headline image"/>
        </div>
        <div class="text-container">
            <div class="description"><%= description %></div>
            <% if !link.nil? %>
                <div class="link">
                    <a href="<%= link %>" target="_blank">
                        <span class="button">Visit Here</span> 
                    </a>
                </div>                
            <% end %>
            <span class="date"><%= date %></span>
        </div>
</div>