---
title: The Ohio State University
---
<%# File Created 10/10/2019 by David Wing
    Edited 10/11/2019 by David Wing
    Edited 10/12/2019 by David Wing
%>


<div class="about-me">

  <div class = "left">
    <br>
    <div id = "side-image">
      <img src="images/mit.png" alt="school" style="width:75%;height:70%;">
    </div>

    <h3>
        Ph.D., 2000
        <br>
        M.S., 1996
    </h3>

    <div id = "side-image">
        <img src="images/ucs.png" alt="school" style="width:75%;height:70%;">
    </div>
    <h3>
        B.S., 1994
    </h3>

    <h3>

    </h3>

  </div>

  <div class="middle">
    <!--Transition between two images-->
    <div id="cf">
        <img class="bottom" src="images/jd2.jpg" alt="lecture2" style="width:700px;height:450px;">
        <img class="top" src="images/jd.jpg" alt="lecture" style="width:700px;height:450px;">
    </div>

    <br>
    <h1>
      <span>Jim W. Davis</span>
    </h1>


    <h2>
      Computer Vision, Artificial Intelligence, Machine Learning
    </h2>

    <h3>
      <a href="https://goo.gl/maps/ktMvXPMzFu5NKpRj8">Directions to Office</a>
      <a href="http://www.osu.edu/map/building.php?building=279">Campus Map</a>
    </h3>

  </div>


  <div class="right">
    <br>
    <div id="side-image">
      <img src="images/osu.png" alt="school" style="width:200px;height:190px;">
    </div>

    <h3>
        Professor, Dept. of Computer Science and Engineering
    </h3>

    <h3>Coordinator for Undergraduate Research</h3>
    <h3>Chair of the Computer and Space Committee</h3>
    <h3>Member of the Executive Committee</h3>
  </div>

</div>
