---
title: The Ohio State University
---

<head>
    <link rel= "stylesheet" href= "source.css"> 
</head>

<div>

  <div class = "leftpane">
    <br>
    <div id = "side-image">
      <img src="images/mit.png" alt="school" style="width:200px;height:190px;">
    </div>

    <h3 >
        Ph.D., 2000
        <br>
        M.S., 1996
    </h3>

    <div id = "side-image">
        <img src="images/ucs.png" alt="school" style="width:200px;height:190px;">
    </div>
    <h3 >
        B.S., 1994
    </h3>

  </div>

  <div class="middlepane">
    <!--Transition between two images-->
    <div id = "cf">
        <img class= "bottom" src="images/garf.png" alt="Italian boi" style="width:700px;height:450px;">
        <img class= "top" src="images/jd.jpg" alt="lecture" style="width:700px;height:450px;">
    </div>

    <br>
    <h1>
      <span>Jim Davis</span>
    </h1>


    <h2>
      Expert of Machine Vision
    </h2>

  </div>


  <div class = "rightpane">
    <br>
    <div id = "side-image">
      <img src="images/osu.png" alt="school" style="width:200px;height:190px;">
    </div>

    <h3>
        Professor, Dept. of Computer Science and Engineering
    </h3>

    <h3>Coordinator for Undergraduate Research</h3>
    <h3>Chair of the Computer and Space Committee</h3>
    <h3>Member of the Executive Committee</h3>
  </div>

</div>