---
title: The Ohio State University
---

<head>
    <link rel= "stylesheet" href= "about_me.css"> 
</head>

<div>
  <div class = "leftpane">
    <h2 >
        link
    </h2>
  </div>

  <div class="middlepane">
  
    <!--Transition between two images-->
    <div id = "cf">
        <img class= "bottom" src="images/garf.png" alt="Italian boi" style="width:300px;height:200px;">
        <img class= "top" src="images/jd.jpg" alt="jimbo" style="width:300px;height:200px;">
    </div>


    <h1>
      <span><a href="https://www.google.com">Jim Davis</a></span>
    </h1>

    <h2 >
        <span>Ph.D. MIT, 2000</span>
    </h2>

  </div>


  <div class = "rightpane">
    
  </div>

</div>