<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Media and Press</title>
    </head>
    <body>
        <p>hi skp this is my website</p>
    </body>

    <!-- <%partial "_footer"%> -->

</html>