<%# File created 10/11/2019 by Leah Gillespie%>

<%#Html format for appointments and teaching page%>

<!DOCTYPE html>
<html>
  <head>
    <title>Teaching Appointments</title>
  </head>
  <body>
    <h1>Teaching Appointments</h1>
    <h2>Current Appointments</h2>
    <ul>
      <li>Full Professor in the Department of Computer Science and Engineering at The Ohio State University</li>
      <li>Coordinator of Undergraduate Research in the Department of Computer Science and Engineering at The Ohio State University</li>
      <li>Chair of the Computer and Space Committee in the Department of Computer Science and Engineering at The Ohio State University</li>
      <li>Member of the Executive Committee in the Department of Computer Science and Engineering at The Ohio State University</li>
    </ul>
    <h2>Past Appointments</h2>
    <ul>
      <li>Associate Professor in the Department of Computer Science and Engineering at The Ohio State University (2005-2013)</li>
      <li>Assistant Professor in the Department of Computer Science and Engineering at The Ohio State University (2000-2005)</li>
    </ul>
    <h2>Courses Taught</h2>
    <p>Professor Davis offers classes in Computer Vision (CSE 5524) and Artificial Intelligence for Non-Majors (CSE 5052). The Artificial Intelligence class was specifically designed to fill a need and outreach to the large body of non-CSE students interested in the topic.</p>
    <h3>Autumn 2016 - Spring 2020</h3>
    <ul>
      <li>Autumn: CSE 5524 Computer Vision</li>
      <li>Spring: CSE 5052 Artificial Intelligence for Non-Majors</li>
    </ul>
    <h3>Autumn 2012 - Spring 2015</h3>
    <ul>
      <li>Autumn: CSE 5524 Computer Vision for Human-Computer Interaction</li>
      <li>Spring: CSE 5052 Intro to Artificial Intelligence for Non-Majors</li>
    </ul>
    <h3>Autumn 2011 - Spring 2012</h3>
    <ul>
      <li>Autumn: CSE 634 Computer Vision for Human-Computer Interaction</li>
      <li>Winter: CSE 788 Computer Vision Seminar</li>
    </ul>
    <h3>Autumn 2010 - Spring 2011</h3>
    <ul>
      <li>Autumn: CSE 634 Computer Vision for Human-Computer Interaction</li>
      <li>Winter: CSE 630 Artificial Intelligence</li>
    </ul>
    <h3>Autumn 2009 - Spring 2010</h3>
    <ul>
      <li>Autumn: CSE 634 Computer Vision for Human-Computer Interaction</li>
      <li>Winter: CSE 788 Computer Vision Seminar</li>
    </ul>
    <h3>Autumn 2008 - Spring 2009</h3>
    <ul>
      <li>Autumn: CSE 634 Computer Vision for Human-Computer Interaction</li>
      <li>Winter: CSE 630 Artificial Intelligence</li>
    </ul>
    <h3>Autumn 2006 - Spring 2007</h3>
    <ul>
      <li>Autumn: CSE 634 Computer Vision for Human-Computer Interaction</li>
      <li>Winter: CSE 630 Artificial Intelligence</li>
    </ul>
    <h3>Autumn 2005 - Spring 2006</h3>
    <ul>
      <li>Autumn: CSE 634 Computer Vision for Human-Computer Interaction</li>
      <li>Winter: CSE 630 Artificial Intelligence</li>
      <li>Winter: CSE 788 Seminar on Advanced Video Surveillance</li>
    </ul>
    <h3>Autumn 2004 - Spring 2005</h3>
    <ul>
      <li>Autumn: CSE 694I Introduction to Computer Vision</li>
      <li>Winter: CSE 630 Artificial Intelligence</li>
    </ul>
    <h3>Autumn 2003 - Spring 2004</h3>
    <ul>
      <li>Autumn: CIS 694I Computer Vision for Human-Computer Interaction</li>
      <li>Winter: CIS 630 Artificial Intelligence</li>
      <li>Winter: CIS 788 Seminar on Advanced Video Surveillance</li>
    </ul>
    <h3>Autumn 2002 - Spring 2003</h3>
    <ul>
      <li>Autumn and Spring: CIS 630 Artificial Intelligence</li>
      <li>Winter: CIS 694I Computer Vision for Human-Computer Interaction</li>
    </ul>
    <h3>Autumn 2001 - Spring 2002</h3>
    <ul>
      <li>Autumn: CIS 788.04Z Computer Vision for Human-Computer Interaction</li>
      <li>Spring: CIS 630 Artificial Intelligence</li>
    </ul>
    <h3>Autumn 2000 - Spring 2001</h3>
    <ul>
      <li>Autumn: CIS 788.04Y Motion Understanding</li>
      <li>Spring: CIS 630 Artificial Intelligence</li>
      <li>Spring: CIS 731 Knowledge Systems</li>
    </ul>
  </body>
</html>